<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to the HashBros Private Alpha, <%= @user.email %>!</h1>
		<p>We are happy to let you know that your account is now activated.</p>
		<p>Login at the following link <%= @url %> to get mining!</p>
		<p>You are among the first few users to get access to our alpha. We are open to hearing every suggestion you may have to further improve our pool.</p>
		<p>Hash on, bros!</p>
		<p>-The HashBros Team</p>
	</body>
</html>
