<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>A Redemption Has Been Requested on your HashBros Account</h1>
		<p>This is just an email notification regarding your redemption request.</p>
		<p>If it was not you who requested the withdrawal, please <a href="<%= @login_url %>" target="_blank">login</a> and change your <a href="<%= @security_url %>" target="_blank">security settings</a>, and then <a href="<%= @contact_url %>" target="_blank">contact us</a>.</p>
		<p>-The HashBros Team</p>
	</body>
</html>
