<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Below are instructions on how to reset your HashBros PIN</h1>
		<p>Please follow the following link: <%= @reset_url %></p>
		<p>The link will only be active for 15 minutes. If you do not reset your PIN within that timeframe, you will need to request another PIN reset email.</p>
		<p>If it was not you who performed the change, please <a href="<%= @login_url %>" target="_blank">login</a> and change your <a href="<%= @security_url %>" target="_blank">security settings</a></p>
		<p>-The HashBros Team</p>
	</body>
</html>
