<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>There has been a change in your HashBros settings</h1>
		<p>If it was you who performed the change in settings, you can safely ignore this email.</p>
		<p>If it was not you who performed the change, please <a href="<%= @login_url %>" target="_blank">login</a> and change your <a href="<%= @security_url %>" target="_blank">security settings</a></p>
		<p>Additionally, if you feel as if someone else has access to your account, please <a href="<%= @edit_user_url %>" target="_blank">change your password</a></p>
		<p>-The HashBros Team</p>
	</body>
</html>
