<div class="content container">
	<div class="row">
		<div class="col-md-12">
		<h2>HashBros Management Backend</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
        <ul class="nav nav-pills">
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="/manage/deposits">Deposits</a></li>
		  <li><a href="/manage/rounds">Rounds</a></li>
		  <li><a href="/manage/redemptions">Redemptions</a></li>
		  <li><a href="/manage/revenues">Revenues</a></li>
		</ul>
		</div>
	</div>
</div>
