<% title "Contact" %>
<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-title">Contact Us</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<section class="widget">
				<div class="body no-margin">
					<h3><i class="fa fa-envelope"></i> <a href="mailto:bro@hashbros.co.in">bro@hashbros.co.in</a></h3>
					<h3><i class="fa fa-twitter"></i> <a href="https://twitter.com/hashbrospool">@HashBrosPool</a></h3>
					<h3><i class="fa fa-bullhorn"></i> IRC server: irc.freenode.net, channel: #hashbros</h3>
					<h3><i class="fa fa-smile-o"> <a href="http://reddit.com/r/hashbros">/r/HashBros</a></i>
				</div>
			</section>
		</div>
	</div>
</div>
