<% title "Deposits" %>
<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-title">All Deposits</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<header>
					<h4>All Deposit History</h4>
				</header>
				<div class="body">
					<% if @deposits.blank? %>
					<p>There are no deposits</p>
					<% else %>
						<%= render "partials/deposit_table", :deposits => @deposits %>
					<% end %>
				</div>
			</section>
		</div>
	</div>
</div>
