<% title "Getting Started" %>
	<div class="content container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-title">Getting Started with HashBros</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<section class="widget">
					<header>
						<h3>
							Why HashBros?
						</h3>
					</header>
					<div class="body">
						<p>HashBros is an advanced crypto currency pool mining service. We are a one stop shop for scrypt and alt-coin mining with both profit switching and traditional pools.</p>
						<p>Our service was built with extreme uptime, reliability, and transparency in mind. Our carefully designed infrastructure places each pool on it's own box, providing a much more modular and scalable pool service than others.</p>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="widget">
					<header>
						<h3>
							Get Started
						</h3>
					</header>
					<div class="body">
						<ol>
							<li><%= link_to "Sign Up", '/users/sign_up' %></li>
							<li><%= link_to "Register a worker", '/workers' %></li>
							<li>Install Mining Software - <a href="http://ck.kolivas.org/apps/cgminer/3.7/">CGMiner</a> or <a href="https://bitcointalk.org/index.php?topic=150331.0">GUIMiner</a></li>
							<li>Direct Miner To: <strong>stratum+tcp://mine.Hashbros.co.in:3333</strong></li>
							<li>Password Not Required - put anything!</li>
							<li>Check back on <%= link_to "Your Dashboard", 'dashboard' %> to get an overview of your own progress and the pool's progress as a whole</li>
							<li>Happy Hashing!</li>
						</ol>
					</div>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<section class="widget">
					<header>
						<h3>
							Features
						</h3>
					</header>
					<div class="body">
						<h4>Active Features</h4>
						<ul>
							<li>Profit Switch - automatically mine the most profitable currencies!</li>
							<li>Automatic Payouts - set a threshold and get paid when you achieve that limit.</li>
							<li>Super Low Fees - one of the lowest around! 1.0% for traditional pools, an additional 0.5% for profit-switching pool plus 0.0005 BTC fee for redemption (transaction fee).</li>
							<li>Leaderboards & Statistics - intricate round and pool details available</li>
							<li>Responsive Website Design - our website is built to be used on any device!</li>
							<li>2-Factor Authentication - set up Google Authenticator for greater peace of mind and security</li>
							<li>Alerts - Get alerted via email when any of your settings get changed for greater security</li>
							<li>Transparency, Security, & Support - ask us anything, we're here to serve YOU</li>
						</ul>
						<hr />
						<h4>Features Being Currently Worked On</h4>
						<ul>
							<li>Multi-Currency Options - get paid in the currency of your choice!</li>
							<li>Alerts - Get alerted via email if one of your workers goes unresponsive</li>
						</ul>
						<hr />
						<h4>Planned/Future Features</h4>
						<ul>
							<li>Android/iOS App</li>
						</ul>
						<hr />
						<p>Please click on the lightbulb in the bottom-right corner of your screen or visit <a href="https://hashbros.uservoice.com/" target="_blank">HashBros.uservoice.com</a> to suggest more features!</p>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="widget">
					<header>
						<h3>
							What is Cryptocurrency Pooled Mining?
						</h3>
					</header>
					<div class="body">
						<p>Pooled mining is when multiple people combine their mining hardware to have a better chance of finding "blocks" for each coin rather than on their own. Each user is paid proportionally to the amount of "work" they did during a "round" while trying to find each "block".</p>
						<p>Bitcoin, the first "cryptocurrency" started a revolution that has inspired the creation of "alternative currencies" that use only CPUs and GPUs to mine with using an encryption algorithm known as "scrypt". This prevents, as of now, powerful ASIC devices from being used. There are tons of different alternative currencies, and HashBros is your one-stop-shop to mine for the many and the most profitable ones!</p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
