<% title "Profitability" %>
<% meta :title => "Profitability",
     :description => "Crypto Alt Coin Profitability",
     :keywords => %w(crypto scrypt alt coin profitability exchange difficulty network hash rate)
%>
<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-title">HashBros Crypto Coin Profitability Index</h2>
			<%= render "partials/ad" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<div class="body horizontal-scroll-table">
					<%= render "profitability_table"%>
				</div>
			</section>
			<%= render "partials/ad" %>
		</div>
	</div>
</div>
