<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-title">Create Worker</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<section class="widget">
				<%= form_for @worker do |f| %>
				<% end %>
			</section>
		</div>
	</div>
</div>
